.app {
  background-color: #b1e4d4;
  height: 100vh;
  width: 100vw;
  display: flex;

  /* grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image  sidebar"
    "slider sidebar"; */
  overflow: hidden;
}
.app--left {
  flex: 0.85;
  display: flex;
  flex-direction: column;
}
.app--right {
  flex: 0.15;
}

.image {
  flex: 0.9;
  background: url("https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar {
  height: 100%;
  background-color: #b1e4d4;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-left: 1px solid #010000;
}

.slider--container {
  background-color: #826514;
  padding: 2em;
  flex: 0.1;
  display: grid;
  place-items: center;
}
